.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
    padding-top: 24%;
    padding-right: 23%;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 5px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 5px 0px;
}