.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    /* width: 250px;
    height: 250px; */
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 10px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}

input {
    padding: 5px 2px 5px 2px;
    margin: 10px 3px 10px 3px;
}